html {
  box-sizing: border-box;
  font-size: 62.5%;
  background: #f06292; /* Pink 300 */ 
  background: #ec407a; /* Pink 400 */ 
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin:0;
  text-align: center;
  font-family: 'Inconsolata', monospace;
}
.clock {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.controls {
  display: flex;
  padding: 1em 0;
  font-size: 2rem;
}
.controls > * {
  flex:1;
  display: flex;
  flex-direction:column;
  padding: 2rem;  
}
.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.controls__button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color:white;
  border: 0.8rem solid rgba(255,255,255,0.4); /* #FF77A9;  */
  width: 11rem;
  height: 11rem;
  font-size: 6rem;
  font-weight: 700;
  border-radius: 50%;
  padding: 1rem;
  margin: 1rem;
  font-family: 'Inconsolata', monospace;
}
.controls__button:hover {
  background:rgba(0,0,0,0.2);
  outline:0;
} 
.controls--work {
  color: #ba000d;
}
.controls--play { 
  color:  #008BA3;
}
.controls__display {
  border-radius: 50%;
  font-size: 6rem; 
  font-weight: 700; 
  display: flex;
  align-items: center;
}
.controls h3 {
  margin: 0.3rem 0;  
  font-size: 4rem;
}
.circle {
  height: 65%;
  padding: 4rem 0 6rem 0;
}
.circle__outer {
  background: #ff94c2; /* Pink 300  light */
  background: #FF77A9; /* Pink 400  light */  
  margin: 0 auto; 
  width: 60rem;
  height: 60rem;
  border-radius: 50%;
}
.circle__inner {
  flex:1;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  background: #F44336;  /* Red 500  */
  width:inherit;
  height: inherit; 
  border-radius: 50%;
  box-shadow: 0 21px 47px 1px rgba(0,0,0,0.3);
  transform: scale(0.7);  
}
.circle__inner .controls__button {
  border: 0rem;
  width: 17rem;
  height: 17rem;
}
.time {
  display: inline-block;
  height: 80%;
  background: #ba000d;   /* Red 500 dark  */
}
.circle__time-left {
  font-weight: 100;
  font-size: 17rem;
  margin: 0;
  color:white;
  text-shadow:4px 4px 0 rgba(0,0,0,0.05);
}
.circle__message {
  font-size: 4rem;
  color:white;
  padding: 2rem 0 0 0;
}
i.fa.fa-play {
  font-size: 8rem;
}
i.fa.fa-undo {
  font-size: 5rem;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 20rem) {  /* 320 / 16 = 20rem */
  html {
    font-size: 62.5%;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 30rem) {  /* 480 / 16 = 30rem */   
  
}

/* Small Devices, Tablets */
@media only screen and (min-width : 48rem) {  /* 768 / 16 =  48rem */
 /* html {
    font-size: 50%;
 }  */
 .controls > * {    
    padding: 1rem;
  }
  .clock {
    margin: 0 auto;
    max-width: 800px;
    height: 100%;
  }  
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 62rem) {  /* 992 / 16 = 62rem */
  html {
    font-size: 40%;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 75rem) { /* 1200 / 16 = 75rem */
  /* html {
    font-size: 40%;
  }   */
}

